In [1]:
import pandas as pd
import numpy as np
import nltk
import sys
import pickle as pk
import string as st
import warnings
warnings.filterwarnings("ignore")


from bs4 import BeautifulSoup
import unicodedata
import re

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

from nltk.corpus import stopwords

from nltk.corpus import wordnet
from nltk import pos_tag
from nltk import ne_chunk

from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from nltk.probability import FreqDist

In [2]:
df = pd.read_csv('/Users/anusharajan/Mtweets_republic_process.csv')
df.head()

,Tweet,Date,Link,Channel,Unnamed: 4
0,"Priyanka Chopra, Nick Jonas Post Strong Statem...",2020-05-30 23:30:00+00:00,https://twitter.com/republic/status/1266874530...,republic,NaN
1,Trump lauds US' 'bold return to space' after N...,2020-05-30 23:29:29+00:00,https://twitter.com/republic/status/1266874403...,republic,NaN
2,Varun Dhawan Celebrates Niece Niyara Dhawan’s ...,2020-05-30 22:37:00+00:00,https://twitter.com/republic/status/1266861192...,republic,NaN
3,NASA-SpaceX launch provides Trump moment to re...,2020-05-30 22:14:13+00:00,https://twitter.com/republic/status/1266855459...,republic,NaN
4,"Biden lauds NASA-SpaceX Crew Dragon launch, sa...",2020-05-30 22:06:27+00:00,https://twitter.com/republic/status/1266853505...,republic,NaN

In [3]:
#Drop the unnecessary columns in dataset
df = df.drop(['Date', 'Link', 'Unnamed: 4'], axis = 1)
df.head()

                                               Tweet   Channel
0  Priyanka Chopra, Nick Jonas Post Strong Statem...  republic
1  Trump lauds US' 'bold return to space' after N...  republic
2  Varun Dhawan Celebrates Niece Niyara Dhawan’s ...  republic
3  NASA-SpaceX launch provides Trump moment to re...  republic
4  Biden lauds NASA-SpaceX Crew Dragon launch, sa...  republic

In [4]:
#Text Preprocessing - Convert to lower case

df['Tweet'] = [token.lower() for token in df['Tweet']]
df.head(5)

                                               Tweet   Channel
0  priyanka chopra, nick jonas post strong statem...  republic
1  trump lauds us' 'bold return to space' after n...  republic
2  varun dhawan celebrates niece niyara dhawan’s ...  republic
3  nasa-spacex launch provides trump moment to re...  republic
4  biden lauds nasa-spacex crew dragon launch, sa...  republic

In [5]:
#Text Preprocessing - Remove hyperlinks
df['Tweet'] = df['Tweet'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])

In [6]:
#Text Preprocessing - Remove punctuations
# Remove all punctuations from the text
import string as st
def remove_punct(text):
    return ("".join([ch for ch in text if ch not in st.punctuation]))
df['removed_punc'] = df['Tweet'].apply(lambda x: remove_punct(x))
df.head()

,Tweet,Channel,removed_punc
0,"priyanka chopra, nick jonas post strong statem...",republic,priyanka chopra nick jonas post strong stateme...
1,trump lauds us' 'bold return to space' after n...,republic,trump lauds us bold return to space after nasa...
2,varun dhawan celebrates niece niyara dhawan’s ...,republic,varun dhawan celebrates niece niyara dhawan’s ...
3,nasa-spacex launch provides trump moment to re...,republic,nasaspacex launch provides trump moment to rel...
4,"biden lauds nasa-spacex crew dragon launch, sa...",republic,biden lauds nasaspacex crew dragon launch says...

In [8]:
df['tokenize'] = df['removed_punc'].apply(lambda x:word_tokenize(x))
df.head(5)

,Tweet,Channel,removed_punc,tokenize
0,"priyanka chopra, nick jonas post strong statem...",republic,priyanka chopra nick jonas post strong stateme...,"[priyanka, chopra, nick, jonas, post, strong, ..."
1,trump lauds us' 'bold return to space' after n...,republic,trump lauds us bold return to space after nasa...,"[trump, lauds, us, bold, return, to, space, af..."
2,varun dhawan celebrates niece niyara dhawan’s ...,republic,varun dhawan celebrates niece niyara dhawan’s ...,"[varun, dhawan, celebrates, niece, niyara, dha..."
3,nasa-spacex launch provides trump moment to re...,republic,nasaspacex launch provides trump moment to rel...,"[nasaspacex, launch, provides, trump, moment, ..."
4,"biden lauds nasa-spacex crew dragon launch, sa...",republic,biden lauds nasaspacex crew dragon launch says...,"[biden, lauds, nasaspacex, crew, dragon, launc..."

In [9]:
#remove stopwords 
def remove_stopwords(text):
    return [word for word in text if word not in nltk.corpus.stopwords.words('english')]

In [16]:
df['clean_tokens'] = df['tokenize'].apply(lambda x : remove_stopwords(x))

In [ ]:
df.head(10)

In [26]:
relevant = df[df['Tweet'].str.contains('tablighi', na = False)]

In [ ]:
relevant.head()

In [37]:
relevant.to_csv('name.csv')

In [ ]:
sdf = pd.read_csv('/Users/anusharajan/Mtweets_scroll.csv')
sdf.head()

In [ ]:
#Text Preprocessing - Convert to lower case

sdf['Tweet'] = [token.lower() for token in sdf['Tweet']]
sdf.head(5)

In [8]:
#Text Preprocessing - Remove hyperlinks
sdf['Tweet'] = sdf['Tweet'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])

In [9]:
relevant_scroll = sdf[sdf['Tweet'].str.contains('tablighi', na = False)]

In [10]:
relevant_scroll.to_csv('relevant_scroll.csv')

In [2]:
#import dataset
df = pd.read_csv('/Users/anusharajan/Mtweets_ANI.csv')

In [10]:
#add column names
df.columns = ['Tweet', 'Date', 'Link', 'Publication', 'Hashtag']

In [12]:
#make tweet column lowercase
df['Tweet'] = [token.lower() for token in df['Tweet']]

In [14]:
#remove hyperlinks
df['Tweet'] = df['Tweet'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])

In [15]:
#parse the tweets column for tablighi
relevant = df[df['Tweet'].str.contains('tablighi', na = False)]

In [16]:
#tokenize the tweets
relevant['tokenize'] = relevant['Tweet'].apply(lambda x:word_tokenize(x))

In [17]:
#remove stopwords
def remove_stopwords(text):
    return [word for word in text if word not in nltk.corpus.stopwords.words('english')]

relevant['clean_tokens'] = relevant['tokenize'].apply(lambda x : remove_stopwords(x))

In [ ]:
#export to csv
relevant.to_csv('relevant_ANI.csv')